
.modal_default_main {
    top: 135px !important;
    position: absolute; 
    left: 0 !important;
    right: 0; 
    margin-left: auto !important; 
    margin-right: auto; 
    width: 90% !important; /* Need a specific value to work */
    z-index: 99999;
}

.icon {
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    vertical-align: middle;
    cursor: pointer;
}

.scheduler_default_rowheader_inner {
    border-right: 1px solid #ccc;
}

.scheduler_default_rowheadercol2 {
    background: White;
}

.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
    top: 2px;
    bottom: 2px;
    left: 2px;
    background-color: transparent;
    border-left: 5px solid #1a9d13; /* green */
    border-right: 0px none;
}

.status_dirty.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
    border-left: 5px solid #ea3624; /* red */
}

.status_cleanup.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {
    border-left: 5px solid #f9ba25; /* orange */
}
