
.navbar-inverse,
.top-nav>.open>.dropdown-menu {
  background: #232629  !important;  
}

body,
.side-nav {
  background-color: #232629;
}


.facility-radio {
    min-width: 306px;
    font-size: 13px;
    padding: 7px;
}

.facility-container {
    
}

.facility-container > .form-control {
    display: inline-block !important;
    width: initial !important;
}

#wrapper {
    background: #ececec;
    padding-left: 244px;
    padding-top: 21px;
    padding-right: 21px;
}

.breadcrumb {
    background: transparent;
    border: none;
}

.alert-description {
  padding-top: 21px;
}

/* Map */
#map {
    height: 300px;
    width: 100%;
}
/* Map */


/* Wizard */
.wizard fieldset {
    background: #fff;
    padding: 37px;
    margin-bottom: 21px;
    border-radius: 12px;
    border: 1px solid #d8d8d8;
}

.wizard .form-group label {
    margin-bottom: 7px;
    font-size: 14px;
    color: #949494;
}

.wizard .alert-info {
    background-color: #0074d9;
    border-color: #0074d9;
}

.wizard .form-group {
    margin-bottom: 30px;
}

.wizard .sticky-hint-col {
    position: sticky;
    top: 74px;
}

.wizard {
    margin: 20px auto;
    background: transparent;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, 
.wizard .nav-tabs > li.active > a:hover, 
.wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tab i{
    color:#555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #0074d9;    
}

.wizard li.active span.round-tab i{
    color: #0074d9;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 16.6666666666%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #0074d9;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #0074d9;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {
    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}
/* Wizard */

html {
 position:relative; 
 min-height: 100%;
}

div[role='main'] {
  background: #fff;
  padding: 23px;
  border-radius: 7px;
}

.table-stat {
 font-size: 27px;
 color: #6f6f6f;
}

.reservation-passed {
    background: #efdde1 !important;
}

.has-success .form-control {
  border-color: #cbf5da;
}

/* Chess */
.chess-grid {
 table-layout: fixed;
}

.chess-grid-row > div {
 padding: 0;
}

.chess-grid > thead > tr {
  height: 48px;
}

.chess-grid > thead > tr > td {
  width: 91px;
}

.chess-grid > tbody > tr {
  height: 42px;
}

.chess-grid > tbody > tr > td {
  padding: 1px !important;
}

.chess-grid > thead .chess-grid-col-today {
  background: #5668a9;
}

.chess-grid > tbody > tr > td .room-name > small {
  font-size: 12px !important;
}

.room-free, 
.room-taken {
    width: 100%;
    height: 39px;
    display: block;
    position: relative;
}

.room-free > a,
.room-taken > a {
    text-align: center;
    color: #fff;
    font-size: 23px;
    padding: 5px;
    margin: 0 auto;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.room-free {
    background-color: #eefbee;
}

.room-free:hover {
    background-color: #eaf5ea;
}

.room-name {
    font-size: 22px;
}

/* Chess */

.jumbotron {
 margin-top: 63px;
}

div[role='main'] {
    margin-top: 79px;
}

/* Table overrides */
.table > thead,
.table > tfoot {
 background: #0074d9;
 color: #fff;
 font-family: Tahoma;
}

.table > tfoot {
 font-size: 16px;
}

.table > thead a, 
.table > thead a:hover {
  color: #fff;
  text-decoration: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #e8eff7;
}

.summary > h4 {
 display: inline-block;
}

.summary button {
 float: right;
}

/* Home page */
.home-row > div {
 min-height: 212px;
 text-align: center;
 border: 5px solid #fff;
 transition: opacity .7s;
 background: #2c3e50;
}

.home-row > div:hover {
 opacity: 0.8;
}

.home-row > div a {
 color: #fff;
 font-size: 31px;
 padding-top: 43px;
 height: 100%;
 width: 100%;
 display: block;
 position: absolute;
 text-align: center;
}

.home-row > div a > .glyphicon {
 font-size: 61px;
}


.home-row > div a:hover, 
.home-row > div a:focus {
 text-decoration: none;
 outline: none;
}

/* Main desktop */
.floor-row {}

.floor-row > div.taken {
 background: red;
}

.floor-row > div.free {
 background: #00a65a;
}

.floor-row > div.leaving {
 background: #ff6a00;
}

.floor-row > div {
 min-height: 105px;
 margin-right: 15px;
 text-align: center;
 font-weight: bold;
 box-shadow: 4px 4px 9px 4px #a4a7a5;
 padding: 0px;
}

.floor-row > div > p,
.floor-row > div > a {
 color: #fff;
 font-size: 12px;
}

.floor-row > div a.leaving {
 font-size: 9px;
}

.floor-row > div > p > a {
  color: #fff;
}

/* Cleaning statuses */
.cleaning-status {
 display: block;
 width: 100%;
 color: #fff;
 background: green;
 font-size: 12px;
 position: absolute;
 bottom: 0;
}

.status-clean {
 background: green;
}

.status-dirty {
 background: #f92b51;
}

.status-checking {
 background: #656060;
}

footer {
 position: absolute;
 bottom: -19px;
 width: 100%;
 background: #2c3e50;
 height: 100px;
 color: #fff;
 margin-top: 20px;
 padding-top: 40px;
}

footer ul li {
 float: left;
 list-style: none;
 margin-right: 21px;
}

footer ul li > a, 
 footer ul li > a:hover {
 color: #fff;
}

